

<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="<%= root_path %>">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="<%= about_us_path %>">About Us</a>
        </li>

        <% if logged_in? %>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="<%= blogs_path %>">Blogs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="<%= user_path(current_user) %>">My Blogs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="<%= new_blog_path %>">New Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="<%= categories_path %>">Categories</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="<%= logout_path %>" data-turbo-method="delete">Logout</a>
          </li>

        <% else %>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="<%=  sign_up_path %>">Sign Up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="<%=  login_path %>">Login</a>
        </li>

        <% end%>
        
       
    </div>
  </div>
</nav>

